.formulaire {
    margin-left: 5%;
  }

  mat-card {
    //margin: 16px; /* Marge par défaut */
    display: flex;
  
    &.custom-card {
      margin: 24px; /* Marge spécifique pour une carte avec la classe custom-card */
      width: 600px;
      font-size: 20px;
    }

    &.form-card {
      margin: 24px; /* Marge spécifique pour une carte avec la classe custom-card */
      width: 600px;
    }
  }

  mat-card-title {
    font-weight: bold; // Met le titre en gras
  }

  .colis-detail {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); // 2 colonnes
    gap: 2px;
  }

  /************************************  Styles pour les petits écrans *************************/
@media (max-width: 600px) {
  .formulaire {
    margin-left: 2%;
  }

  .colis-detail {
    display: grid; 
    grid-template-columns: repeat(1, 1fr); // 2 colonnes
    gap: 2px;
  }

  mat-card {
    display: flex;

    &.custom-card {
      margin: 10px; /* Marge spécifique pour une carte avec la classe custom-card */
      width: 350px;
      font-size: 10px;
    }

    &.form-card {
      margin: 10px; /* Marge spécifique pour une carte avec la classe custom-card */
      width: 350px;
    }
  }

  mat-card-title {
    font-size: 15px;
  }

  .form-card {
    display: flex; /* Active Flexbox */
     flex: 1 1 auto;
     flex-wrap: wrap; /* Retour à la ligne */
   }

   .custom-field {
    width: 200px;
    height: 30px;
    font-size: 10px;
    margin-top: 5px; 
    margin-bottom: 5px; 

  }
  
  /*
  mat-form-field {
    height: 30px;
    margin-top: 20px; 
    margin-right: 2px; 
    margin-bottom: 5px; 
  }
    */

  
  }