
<h2>{{'titre.recherche.transaction' | translate }}</h2>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- idDispo-->
      <ng-container matColumnDef="idDispo">
        <th mat-header-cell *matHeaderCellDef>{{'libelle.numero.transaction' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.idDispo}} </td>
      </ng-container>
  
      <!-- idUserInitiateur -->
      <ng-container matColumnDef="idUserInitiateur">
        <th mat-header-cell *matHeaderCellDef>{{'libelle.id.user.initiateur' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.idUserInitiateur}} </td>
      </ng-container>
  
      <!-- idVol -->
      <ng-container matColumnDef="idVol">
        <th mat-header-cell *matHeaderCellDef>{{'libelle.id.vol' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.idVol}} </td>
      </ng-container>
  
      <!-- villeDepart -->
      <ng-container matColumnDef="villeDepart">
        <th mat-header-cell *matHeaderCellDef> {{'libelle.villeDepart' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.villeDepart}} </td>
      </ng-container>

       <!-- dateDepart -->
       <ng-container matColumnDef="dateDepart">
        <th mat-header-cell *matHeaderCellDef> {{'libelle.dateDepart' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.dateDepart}} </td>
      </ng-container>

      <!-- villeArrivee -->
      <ng-container matColumnDef="villeArrivee">
        <th mat-header-cell *matHeaderCellDef> {{'libelle.villeArrivee' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.villeArrivee}} </td>
      </ng-container>

       <!-- dateArrivee -->
       <ng-container matColumnDef="dateArrivee">
        <th mat-header-cell *matHeaderCellDef>{{'libelle.dateArrivee' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.dateArrivee}} </td>
      </ng-container>

        <!-- nbKiloAchete -->
        <ng-container matColumnDef="nbKiloAchete">
          <th mat-header-cell *matHeaderCellDef> {{'libelle.nbKiloPropose' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.nbKiloAchete}} </td>
        </ng-container>

          <!-- libelStatut -->
          <ng-container matColumnDef="libelStatut">
            <th mat-header-cell *matHeaderCellDef>{{'libelle.libelStatut' | translate }}</th>
            <td mat-cell *matCellDef="let element"> {{element.libelStatut}} </td>
          </ng-container>

          <!-- details -->
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> {{'libelle.details' | translate }}</th>
            <td mat-cell *matCellDef="let element">
                <a
                    class="badge badge-warning"
                    routerLink="/propositionDetail/{{ element.idDispo }}"
                 >
                     Details
                </a>
            </td>
          </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
  
