<button mat-button color="primary" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon> {{ 'button.retour' | translate }}
</button>
<div class="custom-title">
  <h1>{{ 'titre.listes.colis' | translate }}</h1>
</div>
<div class="custom-colis-list">
  <div></div>
  <div>
    <div>
      <h1 *ngIf="errorColis" class="error-message">{{ errorColis }}</h1>
    </div>

    <div class="custom-colis-list" *ngFor="let colis of lstColis">

      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-sm-image [src]="colisService.getImage(colis.idColis)">
            <mat-card-title>
              {{ colis.users.idUser }}<br>
              <mat-form-field appearance="outline" class="custom-statut">
                <mat-label>{{ 'libelle.libelStatut' | translate }}</mat-label>
                <input matInput [value]="updateTranslation(colis.statuts.libelStatut) "
                  [ngStyle]="{'text-align': 'center','font-weight': 'bold', 'background-color': getBackgroundColor(colis.statuts.libelStatut), 'color': getTextColor(colis.statuts.libelStatut)}"
                  readonly>
              </mat-form-field>

            </mat-card-title>
            <mat-card-subtitle>{{ 'libelle.villeDepart' | translate }}: {{ colis.villeDepart }}</mat-card-subtitle>
            <mat-card-subtitle>{{ 'libelle.villeArrivee' | translate }}: {{ colis.villeArrivee }}</mat-card-subtitle>
            <mat-card-subtitle>{{ 'libelle.montant' | translate }}: {{ colis.tarif }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>

          <div>Description : {{ colis.description }}</div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="details(colis.idColis)">{{ 'libelle.details' | translate }}</button>

          
          <button mat-button *ngIf="visibleActions(colis.statuts.libelStatut,'Details prise')" 
            color="accent" (click)="detailsPrise(colis.idColis)">{{'libelle.details.prise' | translate }}
          </button>

          <button mat-raised-button *ngIf="visibleActions(colis.statuts.libelStatut,'Republier')" class="custom-button"
            color="accent" (click)="republier(colis)">{{'button.republier.colis' | translate }}
          </button>

          <button mat-raised-button *ngIf="visibleActions(colis.statuts.libelStatut,'Cloturer')" class="custom-button"
            color="accent" (click)="cloturer(colis)">{{'button.cloture' | translate }}
          </button>

          <div class="filler"></div>
          <button mat-raised-button *ngIf="visibleActions(colis.statuts.libelStatut,'Supprimer')" class="custom-button"
            color="warn" (click)="supprimer(colis)">{{'button.supprime' | translate }}
          </button>
          <button mat-raised-button *ngIf="visibleActions(colis.statuts.libelStatut,'Annuler')" class="custom-button"
            color="warn" (click)="annule(colis)">{{'button.annuler'| translate }}
          </button>
          <button mat-raised-button *ngIf="visibleActions(colis.statuts.libelStatut,'Annuler prise')"
            class="custom-button" color="warn"
            (click)="annulePrise(colis)">{{'button.annuler.prise.charge' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div></div>
</div>