
<style>
    .my-pagination /deep/ .ngx-pagination li {
      background: white;
      color: grey;
    }
    .my-pagination /deep/ .ngx-pagination .current {
      background: rgb(97, 97, 143);
      color: white;
    }
  </style>

  <button mat-button color="primary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon> {{ 'button.retour' | translate }}
  </button>

  <div class="list row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input
          
            type="text"
            class="form-control"
            placeholder="Recherche par nom"
            [(ngModel)]="userNom"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="searchNom()"
            >
              Recherche
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <pagination-controls class="my-pagination"
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
      <div class="col-md-6">
        <h4>Liste des transactions</h4>
        <ul class="list-group list-group-item-light">
          <li
            class="list-group-item"
            *ngFor="
            let transaction of transactions| paginate : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index" 
            [class.active]="i == currentIndex"
            (click)="setActiveTransaction(transaction, i)"
          >
          {{ transaction.idVol }} - {{ transaction.dateDepart }} -{{ transaction.villeDepart }}-{{ transaction.villeArrivee }}-{{ transaction.statuts.libelStatut }}
          </li>
        </ul>
    
        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTransactions()">
          Tout supprimer
        </button>
          Items par Page:
          <select (change)="handlePageSizeChange($event)">
            <option *ngFor="let size of pageSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
      </div>
    
      <div class="col-md-6">
        <app-transactions-details
          [viewMode]="true"
          [currentTransaction]="currentTransaction"
        ></app-transactions-details>
      </div>
    </div>
  

